<section>
  <!-- <button (click)="triggerSuccess('coucou')" class="btn btn-success">Afficher Succès</button>
  <button (click)="triggerError('coucou nop')" class="btn btn-danger">Afficher Erreur</button> -->
  <!-- Interpolation : transferer des données -->
  <!-- <p>Interpolation : {{getText()}}</p><hr> -->

  <!-- Property Binding : mettre des valeurs à des propriétés -->
  <!-- <p>Property binding <input type="text" [value]="author"></p><hr> -->

  <!-- Event binding : appeler une méthode sur un événement -->
  <!-- <p>Event binding <input type="text" (click)="updateText()"></p><hr> -->

  <!-- Two way binding : données en fontion d'un événement -->
  <!-- <p>Two way binding <input type="text" [(ngModel)]="twBinding"></p>
  <p>Vous avez entré : {{ twBinding }}</p><hr> -->

  <!-- ngFor : itérer sur la liste des cours (Données en dur) -->
  <!-- <h3 class="course-title">{{title}} en dur</h3>
  <ul>
    <ng-container *ngFor="let course of courses">
      <li>{{ course.title }} - {{ course.description }} - {{ course.nbEtud }}</li>
    </ng-container>
  </ul><hr> -->

  <div style="display:flex;flex-direction:row;justify-content:space-evenly">
    <!-- Formulaire d'ajout d'un cours -->
    <div class="container mt-5">
      <h3 class="course-title mb-4">Ajout d'un cours</h3>

      <form [formGroup]="formulaire" (ngSubmit)="addNewCourse()" class="needs-validation" novalidate>
        <!-- Titre du cours -->
        <div class="form-group mb-3">
          <label for="title" class="form-label">Titre :</label>
          <input id="title" class="form-control" formControlName="title" placeholder="Titre du cours" [class.is-invalid]="formulaire.get('title')?.invalid && formulaire.get('title')?.touched"/>
          <div *ngIf="formulaire.get('title')?.invalid && formulaire.get('title')?.touched" class="invalid-feedback">
            Le titre est requis.
          </div>
        </div>

        <!-- Description du cours -->
        <div class="form-group mb-3">
          <label for="description" class="form-label">Description :</label>
          <input id="description" class="form-control" formControlName="description" placeholder="Description du cours" [class.is-invalid]="formulaire.get('description')?.invalid && formulaire.get('description')?.touched"/>
          <div *ngIf="formulaire.get('description')?.invalid && formulaire.get('description')?.touched" class="invalid-feedback">
            La description est requise.
          </div>
        </div>

        <!-- Nombre d'étudiants -->
        <div class="form-group mb-3">
          <label for="nbEtud" class="form-label">Nombre d'étudiants :</label>
          <input id="nbEtud" class="form-control" formControlName="nbEtud" type="number" placeholder="Nombre d'étudiants" [class.is-invalid]="formulaire.get('nbEtud')?.invalid && formulaire.get('nbEtud')?.touched"/>
          <div *ngIf="formulaire.get('nbEtud')?.invalid && formulaire.get('nbEtud')?.touched" class="invalid-feedback">
            Le nombre d'étudiants est requis.
          </div>
        </div>

        <!-- Description longue du cours -->
        <div class="form-group mb-3">
          <label for="descriptionLongue" class="form-label">Description longue :</label>
          <input id="descriptionLongue" class="form-control" formControlName="descriptionLongue" placeholder="Description longue du cours" [class.is-invalid]="formulaire.get('descriptionLongue')?.invalid && formulaire.get('descriptionLongue')?.touched"/>
          <div *ngIf="formulaire.get('descriptionLongue')?.invalid && formulaire.get('descriptionLongue')?.touched" class="invalid-feedback">
            La descriptionLongue est requise.
          </div>
        </div>

        <!-- Bouton de soumission -->
        <button type="submit" class="btn btn-primary" [disabled]="formulaire.invalid">Ajouter le cours</button>
      </form>
    </div>


    <!-- Formulaire pour supprimer un cours par ID -->
    <div class="container mt-5">
      <h3 class="course-title mb-4">Supprimer un cours</h3>

      <form (ngSubmit)="deleteCourse()" [formGroup]="deleteForm" class="needs-validation" novalidate>
        <!-- Sélectionner un cours -->
        <div class="form-group mb-3">
          <label for="courseId" class="form-label">Sélectionner le cours à supprimer :</label>
          <select id="courseId" class="form-select" formControlName="courseId" required [class.is-invalid]="deleteForm.get('courseId')?.invalid && deleteForm.get('courseId')?.touched">
            <option value="">Sélectionner un cours</option>
            <option *ngFor="let course of coursesData" [value]="course.id">{{ course.id }} - {{ course.title }}</option>
          </select>
          <div *ngIf="deleteForm.get('courseId')?.invalid && deleteForm.get('courseId')?.touched" class="invalid-feedback">
            Veuillez sélectionner un cours.
          </div>
        </div>

        <!-- Bouton de suppression -->
        <button type="submit" class="btn btn-danger" [disabled]="deleteForm.invalid">Supprimer le cours</button>
      </form>
    </div>
  </div><hr>

  <!-- ngFor : itérer sur la liste des cours (Données en db) -->
  <h3 class="course-title">{{title}} en db</h3>
  <!-- Pagination Controls -->
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="currentPage = currentPage - 1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
        <a class="page-link" (click)="currentPage = i + 1">{{ i + 1 }}</a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="currentPage = currentPage + 1" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <ul class="list-group mb-3">
    <ng-container *ngFor="let courseData of coursesData | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
      <!-- <li class="list-group-item" style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;padding-right:80px;padding-left:80px">
        <div><strong>{{ courseData.title }}</strong> - {{ courseData.description }} - {{ courseData.nbEtud }}</div>
        <a class="btn btn-secondary float-right" [routerLink]="['/course', courseData.id]">Voir le détail</a>
      </li> -->
      <app-course [Course]="courseData" (newNb)="onNewNb($event)"></app-course>
      <!-- <app-course [Course]="courseData"></app-course> -->
    </ng-container>
  </ul>


  <hr>

  <!-- Récupérer le cours passé en parametre -->
  <!-- <div class="course-title">{{title}}</div>
  <div *ngIf="theCourse !== undefined">
    <li>{{ theCourse.title }} - {{ theCourse.description }} - {{ theCourse.nbEtud }}</li>
  </div>
  <div *ngIf="theCourse === undefined">
      <p>Le Cours {{idCourse}} n'existe pas</p>
  </div>
  <hr> -->

</section>

