nav{
  padding:20px 5% !important;
  color: white;
  background-color: #6040fe;
  .items{
      display: flex;
      gap: 20px;
      a{
          text-decoration: none;
          color: white;
          font-weight: bold;
      }
      a:hover{
          text-decoration:underline;
      }
  }
}

.custom-btn {
  background-color: white;
  border: 1px solid #ced4da; /* Bordure légère */
  transition: background-color 0.3s ease; /* Animation de la transition */

  /* Changement de l'arrière-plan au survol */
  &:hover {
    background-color: #f0f0f0; /* Gris clair */
  }

  /* Facultatif: pour modifier la couleur de l'icône lors du survol */
  &:hover i {
    color: #6c757d; /* Gris foncé pour l'icône */
  }
}

