<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">ANGULAR BACHELOR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Dropdown visible uniquement si l'utilisateur est connecté -->
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/admin/courses" routerLinkActive="active">Les cours</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Catégories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/categories" routerLinkActive="active">Catégories</a></li>
            <hr style="margin:auto !important;width:auto !important">
            <ng-container *ngFor="let categoryData of categoriesData">
              <li *ngIf="categoryData.visibility === 'display'"><a class="dropdown-item" routerLink="/admin/category/{{categoryData.id}}" routerLinkActive="active">{{ categoryData.title }}</a></li>
              <!-- <app-category [Course]="courseData" ></app-category> -->
            </ng-container>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <form class="d-flex" role="search" (submit)="onSearch($event)">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" required>
            <button class="btn custom-btn" type="submit">
              <i class="bi bi-search"><link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
              </i> <!-- Icône de loupe -->
            </button>
          </div>
        </form>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Se connecter</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" href="#" (click)="logout()">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
