@import "bootstrap/scss/bootstrap";

*{
    font-family: poppins;
    margin: 0;
    /* padding: 0; */
}

body {
  position: relative; /* Nécessaire pour que le toast se positionne correctement */
}


section{
  margin: 100px 100px 0 100px;
}

hr{
  width: 70%;
  margin: 80px 0 !important;
  margin-left: 15% !important;
}
